/* container */

.container {
  max-width: 768px;
}

/* header */

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-link {
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primery-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--pressed);
}

/* hero image */

.hero-text {
  max-width: 496px;

  font-size: 56px;
  line-height: 1.07;
}

/* button */

.button {
  margin-top: 36px;
}

/* section 1 */

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-item:not(:first-child) {
  margin-top: 0;
}

.features-list > .features-item {
  flex-basis: calc((100% - 24px) / 2);
}

.feature-descr-title {
  text-align: start;
}

/* section 3 */

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}

.team-list-item {
  margin: 0;
}

/* section 4 */

.customers-list {
  gap: 72px 24px;
}

.customers-link {
  width: 168px;
}

/* footer */

.footer-content {
  width: 582px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 72px 24px;
}

.footer-logo {
  text-align: start;
}

.footer-social-links {
  width: 208px;
}

.soc-link-text {
  text-align: start;
}

.subscribe-form-text {
  text-align: start;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}

.footer-form-input {
  min-width: 264px;
}

.footer-form-submit {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Portfolio */

.portfolio-hero {
  padding-top: 64px;
  padding-bottom: 96px;
}

.button-portfolio {
  padding: 12px 24px;
}

.portfolio-nav {
  max-width: 100%;
  margin-bottom: 64px;
  justify-content: center;
}

.portfolio-list {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.portfolio-list > .portfolio-item {
  flex-basis: calc((100% - 24px) / 2);
}
